/*screen sizes*/
$xl-up: 1400px;
$xl-down: 1399px;

$lg-up: 1200px;
$lg-down: 1199px;

$md-up: 992px;
$md-down: 991px;

$sm-up: 768px;
$sm-down: 767px;

$xs-up: 650px;
$xs-down: 649px;

$xxs-up: 450px;
$xxs-down: 449px;