<div class="weather">
    <div class="weather__wrapper">
        <div class="container">
            <div class="weather__inner">
                <h1 class="weather__title">Weather Test Task</h1>
                    <div class="weather__form__wrapper">
                        <form class="weather__form">
                            <div class="weather__form__inner">
                                <div class="weather__form__inner">
                                        <input 
                                            class="weather__form__input" 
                                            id="weather__form__input" 
                                            type="text" 
                                            placeholder="Введите наименование населенного пункта" 
                                        />
                                        <input 
                                            class="weather__form__button" 
                                            id="weather__form__button" 
                                            type="submit" 
                                            value="Show me"
                                        />
                                        </div>
                                    </div>
                                </div>
                                <div class="weather__show__display">
                                    <p class="weather__show__display__date" id="weather__show__display__date">
                                        
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>